# ‚ù§‚ù§‚ù§ HOw To Create Python Pandas DataFrame  ‚ù§‚ù§‚ù§

In [1]:
import pandas as pd

In [2]:
empt_s = pd.DataFrame()
print(empt_s)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst = ['a','b','c']
print(lst)

['a', 'b', 'c']

In [5]:
df = pd.DataFrame(lst)
print(df)

   0
0  a
1  b
2  c

In [9]:
df

   0
0  a
1  b
2  c

In [10]:
lst_of_lst = [[1,2,3],[4,5,6],[7,8,9]]
print(lst_of_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
df1  = pd.DataFrame(lst_of_lst)
print(df1)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
dict1 = {'ID':[11,22,33,44]}
print(dict1)

{'ID': [11, 22, 33, 44]}

In [14]:
df2 = pd.DataFrame(dict1)
print(df2)

   ID
0  11
1  22
2  33
3  44

In [15]:
df2

   ID
0  11
1  22
2  33
3  44

In [16]:
dict1 = {'ID':[11,22,33,44], 'SN':[1,2,3,4]}
print(dict1)

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [17]:
df3 = pd.DataFrame(dict1)
df3

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

# üòíüòíüòíüòí List Of Dictionary üòíüòíüòíüòí

In [18]:
ls_dic = [{'a':1, 'b':2}, {'a':3, 'b':4}]
print(ls_dic)

[{'a': 1, 'b': 2}, {'a': 3, 'b': 4}]

In [19]:
df4  = pd.DataFrame(ls_dic)
df4

   a  b
0  1  2
1  3  4

In [20]:
ls_dic = [{'a':1, 'b':2}, {'a':3, 'b':4,'c':5}]
df4  = pd.DataFrame(ls_dic)
df4

   a  b    c
0  1  2  NaN
1  3  4  5.0

# üòéüòä CReating Data Frame  for Dic of Series üòéüòä

In [22]:
dic_sr = {'ID': pd.Series([1,2,3]), 'SN': pd.Series([111,222,333])}
df5 = pd.DataFrame(dic_sr)
df5

   ID   SN
0   1  111
1   2  222
2   3  333